div {
    
    box-sizing: border-box;
    text-align: center;
}
#container {
    width: 1530px;
    margin: 0 auto;
}
.main-img {
    width: 95%;
    height: 90%;
    margin-left: 8px;
}
.header {
    width: 100%;
    height: 100px;
}
.header-layer1 {
    width: 25%;
    height: 100%;
    float: left
}
.header-layer2 {
    width: 50%;
    height: 100%;
    float: left
}
.header-layer3 {
    width: 25%;
    height: 100%;
    float: left
}
.nav {
    width: 100%;
    height: 50px;
}
ul {
    margin: 0;
    padding: 0;
    height: 100%;
}
    ul li{
        list-style-type: none;
        float: left;
        width: 25%;
        text-align: center;
        background-color: rgb(62, 173, 62);
        line-height: 50px;
    }
    ul a {
        text-decoration: none;
        padding: 10px 20px;
        display: block;
    }
    ul a:link, ul a:visited {
        color: black;
    }
    ul a:hover {
        color: white;
        background-color: green;
    }
.main {
    width: 100%;
    height: 600px;
}
.main-layer1 {
    width: 15%;
    height: 100%;
    float: left;
    background-image: url(../gogreen_img/left_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-layer2 {
    width: 65%;
    height: 100%;
    float: left;
}
    #main-top{
        width: 100%;
        height: 50%;
    }
        #top-left {
            width: 50%;
            height: 100%;
            float: left;
        }
        #top-right {
            width: 50%;
            height: 100%;
            float: left;
        }
    #main-bottom {
        width: 100%;
        height: 50%;
    }
        #bottom-left {
            width: 50%;
            height: 100%;
            float: left;
        }
        #bottom-right {
            width: 50%;
            height: 100%;
            float: left;
        }
.main-layer3 {
    width: 20%;
    height: 100%;
    float: left;
}
.login{
    width: 100%;
    height: 17%;
}
#aside-top{
    width: 100%;
    height: 53%;
    background-image: url(../gogreen_img/right_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#aside-bottom{
    width: 100%;
    height: 30%;
    background-image: url(../gogreen_img/me_chat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer {
    width: 100%;
    height: 100px;
}